.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--mat-sys-inverse-primary);
}

.router {
  flex: 1;
  padding: 24px;
}
